*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #0f171e;
    font-family: Arial, sans-serif;
}

.navbar{
    width: 100%;
    min-height: 70px;
    background-color: #1a232e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 25px;
    z-index:2;
  
}

.navbar__menu{
    flex: 1;
    text-align: left;
    margin-left: 25px;
}

.navbar__menu__items{
    list-style: none;
    display: inline-block; 
    padding: 5px;         
}

.navbar__menu--route{
    color: #d7d9dd;
    text-decoration: none;
}



.navbar__search{
    position: relative;
    margin-right: 30px;
}

.navbar__search__input{
    width: 250px;
    border:none;
    outline: none;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #c9d9dd;
    color: #ffff;
    border-radius: 3px;
    background-color: #18202b;
    position: relative;
    font-size: 14px;
}

.navbar__search__input::placeholder{
    color: #c0c0c0;;
}

.navbar__search__icon{
    color:#e6e6e6;
    position: absolute;
    left: 0;
    top: 10px;
    padding: 0px 0px 0px 10px;
}

.navbar__user{
    width: 50px;
    height: 20px;
    font-size: 20px;
    color: #bbbdc0;
    margin-right: 30px;
}


.navbar__user__info{
    margin-top: 13px;
    width: 215px;
    background-color: #252e39;
    z-index: 99;
    box-shadow: 0 4px 8px #000;
    display: none;
    
}
.info__list{
    list-style: none;
}

.info__list__item{
    padding: 5px;
    border-bottom: 1px solid #323e4c;
}


.carousel{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.carousel__slideshow__img{
    display: none;
}

.carousel__img{
   width: 100%;
   max-height: 300px;
}

.carousel__pointer{
    display: flex;
    align-items:flex-end;
    justify-content:center;
    padding: 10px;
}

.carousel__pointer--dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    
  }

.carousel__pointer--active{
    background-color: #717171;
}


.next, .prev{
    height: 333px;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 0px 10px 0px 10px;
    color: #ffff;
    cursor: pointer;

}
.next{
    right: 0;
}


.title{
    padding: 20px 0px 0px 50px; 
    color: #ffff;
    transition: 0.5s;
}

.row{
    width: 100%;
    position: relative;
}

.content__list{
    padding: 0px 0px 0px 50px; 
    position: relative;
    display: flex;
    width: 100%; 
}

.content__list__carousel{
    list-style: none;
    display: flex;
    overflow-x: hidden;
    overflow-y: ;
    white-space: nowrap;
}

.content__list__carousel__folder{
    min-width: 220px;
    height: auto;
    border-radius: 5px;
    margin: 5px 10px 10px 0px;
    background-color: black;
}

.img__folder{
    height: 100%;
    width: 220px;
    border-radius: 5px;
}


.content__list__carousel__folder:hover{

    position: relative;
    z-index: 2;
    transform: scale(1.5);
   
}
/*
.content__box{
    display: none;
    position: relative;
    margin-top: 160px;
    height: 20px;
    z-index: 2;
    background-color: #293c4b;
    
}
.content__list__carousel__folder:hover .content__box{
    display: block;
}
*/


@media (max-width: 767px) {
   .navbar{
        width: auto;
        padding: 5px;
   }
   
   .navbar__brand__img{
        width: 80px;
        height: 50px;
        
   }
   .navbar__mobile{
       margin: 0px 8px;
       color: #ffff;
   }
   .navbar__menu{

   }

   .navbar__search{
     margin-right: 15px;
   }
    .navbar__search__input{
       width: 100%;
    }
    .navbar__user{
       margin-right: 5px;
    }
    .navbar__user__info{

    }
}     

@media (min-width: 768px) and (max-width: 979px) {
    .navbar__mobile{
        color: #ffff;
    }
    
}

@media(min-width: 980px) {
    .navbar__mobile{
        display: none;
    }
    .navbar__menu{
        display: block;
    }
    #slideshow{
        display: flex;
        justify-content: center;
        height: 300px;
    }
    .carousel__slideshow{
        width: 80%;
    }
}