*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #0f171e;
    font-family: Arial, sans-serif;
}

.navbar{
    width: 100%;
    min-height: 70px;
    background-color: #1a232e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 25px;
    
    z-index:2;
}

.navbar__menu{
    flex: 1;
    text-align: left;
    margin-left: 25px;
}

.navbar__menu__items{
    list-style: none;
    display: inline-block; 
    padding: 5px;         
}

.navbar__menu--route{
    color: #c9d9dd;
    text-decoration: none;
}

.navbar__menu__items:hover{
    border-bottom: 1px solid #ffff;
}

.navbar__search{
    position: relative;
    margin-right: 30px;
}

.navbar__search__input{
    width: 250px;
    border:none;
    outline: none;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #c9d9dd;
    color: #ffff;
    border-radius: 3px;
    background-color: #18202b;
    position: relative;
}

.navbar__search__input::placeholder{
    color: #c0c0c0;;
}

.navbar__search__icon{
    color:#e6e6e6;
    position: absolute;
    left: 0;
    top: 10px;
    padding: 0px 0px 0px 10px;
}

.navbar__user{
    width: 50px;
    height: 20px;
    font-size: 20px;
    color: #bbbdc0;
    margin-right: 30px;
}









.carousel{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.carousel__slideshow{
    width: 100%;
    position: relative;
    transform: translateX(-200%);
}
.carousel__slideshow__img{
    display: none;
   
}
.carousel__img{
    width:100%;
    vertical-align: middle;
    transition: color .3s ease-in-out;
}


.carousel__next, .carousel__prev{
    position: absolute;
    top: 50%;
    font-size: 25px;
    color: #ffff;
    cursor: pointer;
}
.carousel__next{
    right: 0;
}

.carousel__pointer{
   
    display: flex;
    align-items:flex-end;
    justify-content:center;
    padding: 10px;
   
}

.carousel__pointer--dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    
  }

  .carousel__pointer--active{
    background-color: #717171;
  }






















.content{
    padding: 20px 0px 0px 50px; 
}

.content__list{
    list-style: none;
    color: #ffff;
    font-size: 23px;
}

@media (max-width: 767px) {
   
   
}     

@media (min-width: 768px) and (max-width: 979px) {
    
    
}

@media(min-width: 980px) {
    
}