.navbar__search__input{
    border: 1px solid #4c5c67;
    color: #819789;
    font-size: 14px;
}
.navbar__search__input:hover{
    border: none;
    outline: none;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #657e8d;
    color: #ffff;
    border-radius: 3px;
    background-color: #18202b;
    position: relative;
}

.search{
    width: 98%;
    margin: 0 auto;
}

.search__info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 8px 16px 8px;
    border-bottom: 1px solid#657e8d;    
}

.search__info__botton{
    width: 100px;
    height: 40px;
    color: #ffff;
    background-color: #425265;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.search__info__botton:hover{
    background-color: #899bb1;
}

.search__info--text{
    color: #657e8d;
    font-size: 18px;
}

.search__results{
    padding: 10px 20px 0px 20px;
}

.search__results__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.img__forder{ 
    width: 220px;
}

.search__results__list__items{
    width: 220px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
   
}
.items__info{
    width: 100%;
    height: 40px;
    background-color: aqua;
}

@media(min-width: 980px) {
    .search{
        width: 80%;  
    } 
}

