.search{
    width: 98%;
    margin: 0 auto;
}

.search__info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px 0px 16px 0px;
    margin-bottom: 1px solid #c0c0c0;
}
.search__info:last-child{
    border-bottom:1px solid #c0c0c0;
}


.search__results{
    padding: 10px 20px 0px 20px;
}

.search__results__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.search__results__list__items{
    width: 280px;
    height: 220px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: black;
}


@media(min-width: 980px) {
    .search{
        width: 70%;
    } 
}