.search{
    width: 98%;
    margin: 0 auto;
}

.search__info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px 8px 16px 8px;
    margin-bottom: 1px solid #c0c0c0;
}
.search__info:last-child{
    border-bottom:1px solid #c0c0c0;
}

.search__info__botton{
    width: 100px;
    height: 40px;
    background-color: #425265;
    border: none;
    border-radius: 5px;
}
.search__info__result{

}
.search__info__result--text{
    color: #ffffff;
}
.search__info__botton:hover{
    color: #899bb1;
}

.search__results{
    padding: 10px 20px 0px 20px;
}

.search__results__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.img__forder{
    height: 100%;
    width: 220px;
}

.search__results__list__items{
    width: 220px;
    height: auto;
    margin-left: 10px;
    margin-top: 10px;
   
}


@media(min-width: 980px) {
    .search{
        
    } 
}

